{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block head_css %}
    {{ parent() }}

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}

<body style="background:#42c8f5; ">


<div style="width: 60% ; margin: 0 auto; margin-top: 10%;">
    <!-- Material form login -->
    <!-- Default form login -->
    <form class="text-center border border-light p-5" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <p class="h4 mb-4">Sign in</p>

        <!-- Email -->
        <input type="email"  value="{{ last_username }}" id="inputEmail"  name="email" class="form-control mb-4" placeholder="E-mail">
        <!-- Password -->
        <input type="password" name="password" id="inputPassword" class="form-control mb-4" placeholder="Password">

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div class="d-flex justify-content-around">

        </div>

        <!-- Sign in button -->
        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" style="color: #b21f2d ; " >Sign In</button>
        <!-- Register -->
        <p>Not a member?
            <a href="{{ path('user_registration') }}">Register</a>
        </p>

        <!-- Social login -->



    </form>

</div>

</body>
    {#
    <form method="post" >
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" >Email:</label> <br>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="col-3" placeholder="Email" required autofocus> <br><br>
        <label for="inputPassword">Password: </label><br>
        <input type="password" name="password" id="inputPassword" class="col-3" placeholder="Password" required> <br><br>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>


        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>#}



    <!-- Default form login -->
    <!-- Material form login -->
{% endblock %}