{% extends 'base.html.twig' %}
{% block title %}Sign Up!{% endblock %}
{% block body %}

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}

<button type="submit" type="button" class="btn btn-primary" >Register!</button>
    {{ form_end(form) }}



   {{  error }}
{% endblock %}

{% block head_css %}
{{ parent() }}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}