{% extends 'base.html.twig' %}
{% block title %}Edit Blog{% endblock %}
    {% block head_css %}
        {{ parent() }}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    {% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/showBlog.css') }}" rel="stylesheet">
        <link href="{{ asset('css/homePage.css') }}" rel="stylesheet">
        <link href="{{ asset('css/toolbarClearer.css') }}" rel="stylesheet">

    {% endblock %}
{% block body %}

{#

    <body style="background:#42c8f5; ">


    {#<div style="background: rgba(158, 197, 154, 0.58)"  >
            <div class='homePageDiv' align="center">#}{#
    {{ form_start(form) }}
    {{ form_label(form.title, 'Title') }}
    {{ form_widget(form.title, {'attr': {'class': 'col-2'}}) }}<br>

    {{ form_label(form.slug, 'Slug')}}
    {{ form_widget(form.slug, {'attr': {'class': 'col-2'}}) }}<br>

    Geçerli resim : <img src="{{ asset('uploads/afisler/' ~ blog[0].preview_img) }}" style="width:200px;height:121px;"><br>
    {{ form_label(form.preview_img, label|default(null), { 'label_attr': { 'class': '' } }) }}
    {{ form_widget(form.preview_img, {'attr': {'class': 'col-2'}}) }}<br><br>



    {{ form_label(form.content, 'Content') }}
    {{ form_widget(form.content, {'attr': {'class': 'col-2'}}) }}<br>


    {{ form_label(form.summary, 'Summary') }}
    {{ form_widget(form.summary, {'attr': {'class': 'col-2'}}) }}
    <br>

    {{ form_row(form.status) }}

    {{ form_label(form.category2, 'Category') }}
    {{ form_widget(form.category2, {'attr': {'class': 'col-1'}}) }}<br>


    {{ form_label(form.tag2, 'Tag') }}
    {{ form_widget(form.tag2, {'attr': {'class': 'col-1'}}) }} <br>

    <button type="submit" class="btn btn-primary">Register!</button>

    {{ form_end(form) }}


    {#</div>
        </div>#}{#

    {{ error }}


    </body>
#}

    <body style="background:#42c8f5; ">

    <!-- Material form register -->
    <div style="width: 60% ; margin: 0 auto;  margin-top: 10%;" >

        <div class="text-center border border-light p-5" style="background:#42c8f5;">


            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">
                <!-- Form -->
                <form name="form" class="text-center" method="post" enctype="multipart/form-data">
                    <p class="h4 mb-4 ">Edit Entry</p>

                    {% if error %}
                        <div class="alert alert-danger">   {{  error }} </div>
                    {% endif %}
                    <div class="form-row">
                        <div class="col">
                            <!-- First name -->
                            <div class="md-form">
                                <input type="text" name= "form[title]" id="form_title" class="form-control" required="required" value={{ blog[0].title }}>
                                <label class="required" for="form_title">Title</label>
                            </div>
                        </div>

                    </div>

                    <div class="md-form mt-0">
                        <input type="text" id="form_slug" name="form[slug]" class="form-control" required="required"  value={{ blog[0].slug }}>
                        <label class="required" for="form_slug">Slug</label>
                    </div>


                    Geçerli resim :
                    <p align="center"><img src="{{ asset('uploads/afisler/' ~ blog[0].preview_img) }}" style="width:200px;height:121px;"></p>
                    <div class="custom-file">

                            <input type="file" id="form_preview_img" class="" name="form[preview_img]"  ><br>
                            <label class="" for="form_preview_img" style="display:none;"  >Preview Image</label>
                    </div>


                    <div class="md-form">
                        <input type="text" id="form_content" name="form[content]" class="form-control" required="required" value={{ blog[0].content }}>
                        <label class="required" for="form_content">Content</label>

                    </div>

                    <div class="md-form">
                        <input type="text" id="form_summary" name="form[summary]" class="form-control" required="required" value={{ blog[0].summary }}>
                        <label class="required" for="form_summary">Summary</label>

                    </div>

                    <div class="form-group">
                        <div class="form-group">

                            <div class="md-form">
                                <input type="checkbox" id="form_status" name="form[status]" class="form-check-input" value={{ blog[0].status }} checked="checked">
                                <label class="form-check-label" for="form_status">Show This Entry?</label>

                            </div>
                        </div>

                    </div>

                    <div class="md-form">
                        <select id="form_category2" name="form[category2]" class="col-3" required="required" >
                            <option value={{ definedCat }} selected="selected">{{ definedCat }}</option>
                            {% for catkey in categories|keys %}
                                {% if definedCat != catkey %}
                                <option value={{ catkey }}>{{ catkey }}</option>
                                {% endif %}
                            {% endfor %}
                        </select><br>

                        <label class="" for="form_category2">Category</label>

                        <div class="md-form">
                            <select id="form_tag2" name="form[tag2]" class="col-3" required="required" >
                                <option value={{ definedTag }} selected="selected">{{ definedTag }}</option>
                                {% for tagkey in tags|keys %}
                                    {% if definedTag != tagkey %}
                                        <option value={{ tagkey }}>{{ tagkey }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select><br>

                            <label class="" for="form_tag2">Tag</label>
                    </div>
                    <div class="form-group"><input type="number" id="form_id" name="form[id]" required="required" style="display:none;" class="form-control" value={{ blog[0].id }}></div>
                        <div class="form-group"><input type="text" id="form_createdAt" name="form[createdAt]" required="required" style="display:none;" class="form-control" value={{blog[0].createdAt |date}}></div>
                        <div class="form-group"><input type="text" id="form_updatedAt" name="form[updatedAt]" required="required" style="display:none;" class="form-control" value={{blog[0].createdAt |date}}></div>
                        {#
                        <div class="form-group"><input type="text" id="form_createdAt" name="form[createdAt]" required="required" style="display:none;" class="form-control" value={{ blog[0].createdAt |date}} ></div>

                        <div class="form-group"><input type="text" id="form_updatedAt" name="form[updatedAt]" required="required" style="display:none;" class="form-control" value={{ currentDateTimeC| date('Y-m-d\\TH:i:sP') }}></div>
                        #}

                            <input type="hidden" name="token" value="{{ csrf_token('edit') }}"/>

                    <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" style="color: #b21f2d ;   opacity: 1.0;" >Sign Up</button>


                    <hr>

                    <!-- Terms of service -->
                    <p>By clicking
                        <em>Sign up</em> you agree to our
                        <a href="" target="_blank">terms of service</a>

                </form>

            </div>

        </div>

    </div>

    </body>



{% endblock %}

    {% block javascripts %}
        {{parent()}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src= "{{asset('js/changeClass.js')}}"></script>
        <script src= "{{asset('js/toolbarClearer.js')}}"></script>

    {% endblock %}