{% extends 'base.html.twig' %}
{% block title %}New Blog{% endblock %}
{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.preview_img) }}
    {{ form_row(form.content) }}
    {{ form_row(form.summary) }}
    {{ form_row(form.status) }}
    {{ form_row(form.category2) }}
    {{ form_row(form.tag2) }}

    <button type="submit" class="btn btn-primary">Register!</button>

    {{ form_end(form) }}

{{ error }}

{% endblock %}

{% block head_css %}
{{ parent() }}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}